<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button block (click)="loginWithFacebook()" *ngIf="!facebook.loggin">เข้าสู่ระบบผ่าน facebook</button>

  <ion-card *ngIf="facebook.loggin" class="loginPass">
    <img src="{{facebook.profilePic}}" class="imgPic" />
    <ion-card-content>
      <ion-card-title>
        {{facebook.name}}
      </ion-card-title>
      <p>
        {{facebook.email}}
      </p>
    </ion-card-content>
  </ion-card>
  <button ion-button block (click)="openFacebook()" *ngIf="facebook.loggin">ติดต่อเจ้าหน้าที่</button>

  <button ion-button block (click)="logoutOfFacebook()" *ngIf="facebook.loggin">ออกจากระบบ</button>

</ion-content>